body{
    /* content: ""; */
    background-image: url("stickman3.png") ;
    /* background-position: center; */
    
    background-repeat: no-repeat; 
    background-size: cover;
   
    /* z-index: -1;     */
    /* opacity: .85; */
}

.addQ{
    margin-top: 500px;
}   